@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Black.eot");
    src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Bold.eot");
    src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Regular.eot");
    src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Light.eot");
    src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background-image: url("../img/Dotted_background.svg");
    background-position: center;
    background-size: cover;
    -webkit-tap-highlight-color: #FFF498;
    background-color: #131516;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

.l-viewport {
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85);
    overflow: hidden
}

.l-wrapper {
    position: relative;
    width: 1440px;
    max-width: 90%;
    height: 100%;
    margin: 0 auto
}

.l-side-nav {
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.l-side-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 750px;
    background-color: #ffffff;
    opacity: .35;
    z-index: 10
}

@media (max-width: 1180px) {
    .l-side-nav {
        display: none
    }
}

.l-main-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    list-style: none
}

.l-section {
    position: absolute;
    width: 100%;
    height: 100%
}

.section {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .4s ease-in-out, visibility 0s .4s;
    transition: opacity .4s ease-in-out, visibility 0s .4s
}

.section--is-active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transition: opacity .4s ease-in-out .4s;
    transition: opacity .4s ease-in-out .4s
}

.section--next {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}

.section--prev {
    -webkit-transform: translateY(45px);
    transform: translateY(45px);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 10
}

.header--logo {
    padding-top: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff
}

.header--logo p {
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase
}

.header--nav-toggle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer
}

.side-nav {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 70%;
    max-height: 750px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    z-index: 10
}

.side-nav>li {
    position: relative;
    top: -5px;
    color: #ffffff;
    font-size: 6px;
    cursor: pointer
}

.side-nav>li span {
    position: relative;
    top: 3px;
    left: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    opacity: 0;
    visibility: hidden
}

.side-nav>li::before {
    position: absolute;
    top: 3px;
    left: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300
}

.side-nav li:nth-child(1)::before {
    content: "01"
}

.side-nav li:nth-child(2)::before {
    content: "02"
}

.side-nav li:nth-child(3)::before {
    content: "03"
}

.side-nav li:nth-child(4)::before {
    content: "04"
}

.side-nav li:nth-child(5)::before {
    content: "05"
}

.side-nav li.is-active {
    color: rgb(241, 11, 69);
    ;
    -webkit-transition: color .4s ease-in-out;
    transition: color .4s ease-in-out
}

.side-nav li.is-active span {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out
}

.side-nav li.is-active::before {
    left: -33px;
    color: #ffffff
}

.intro {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto
}

@media (max-width: 1180px) {
    .intro {
        max-width: 100%
    }
}

.intro--banner {
    position: relative;
    height: 475px
}

.intro--banner::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: -15px;
    right: 0;
    height: 2px;
    background-color: #ffffff
}

.intro--banner::after {
    content: "";
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 30px;
    height: 4px;
    background-color: rgb(241, 11, 69)
}

.intro--banner h1 {
    padding-top: 50px;
    position: relative;
    font-size: 68px;
    font-weight: 900;
    line-height: 1;
    z-index: 1
}

.intro--banner button {
    position: relative;
    padding: 5px 17px 5px 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none
}

.intro--banner button .btn-background {
    position: absolute;
    top: 0;
    left: 23px;
    right: 0;
    height: 100%;
    background-color: #0f33ff;
    z-index: -1;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out
}

.intro--banner button:hover .btn-background {
    left: 0
}

.intro--banner button:focus {
    outline: none
}

.intro--banner button svg {
    position: relative;
    left: 5px;
    width: 15px;
    fill: #fff
}

.intro--banner img {
    position: absolute;
    bottom: 21px;
    right: -12px
}

.intro--options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none
}

.intro--options>a {
    max-width: 100%;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out
}

.intro--options h3 {
    font-size: 16px;
    text-transform: uppercase
}

.intro--options p {
    margin-bottom: 0
}

@media (max-width: 900px) {
    .intro--banner {
        height: 380px
    }

    .intro--banner h1 {
        font-size: 55px
    }

    .intro--banner img {
        width: 430px
    }

    .intro--options>a {
        margin-right: 30px
    }

    .intro--options>a:last-child {
        margin-right: 0
    }
}

@media (max-width: 767px) {
    .intro--banner {
        height: 305px
    }

    .intro--banner h1 {
        font-size: 44px
    }

    .intro--banner img {
        width: 330px
    }

    .intro--options {
        display: block
    }

    .intro--options>a {
        display: block;
        max-width: 100%;
        margin: 0 0 30px 0
    }

    .intro--options>a:last-child {
        margin-bottom: 0
    }
}

@media (max-width: 600px) {
    .intro--banner {
        height: 360px
    }

    .intro--banner h1 {
        font-size: 55px
    }

    .intro--banner img {
        display: none
    }
}

@media (max-width: 600px) and (max-height: 750px) {
    .intro--banner {
        height: auto
    }

    .intro--banner::before,
    .intro--banner::after {
        display: none
    }

    .intro--banner h1 {
        margin-top: 0
    }

    .intro--options {
        display: none
    }
}

.work {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    max-width: 80%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto
}

@media (max-width: 1180px) {
    .work {
        max-width: 100%
    }
}

.work h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center
}

.work--lockup {
    position: relative
}

.work--lockup .slider {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none
}

.work--lockup .slider--item {
    position: absolute;
    display: none;
    text-align: center
}

.work--lockup .slider--item a {
    text-decoration: none;
    color: #858585
}

.work--lockup .slider--item-title {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase
}

.work--lockup .slider--item-description {
    display: none;
    max-width: 250px;
    margin: 0 auto
}

.work--lockup .slider--item-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden
}

.work--lockup .slider--item-image img {
    width: 100%
}

.work--lockup .slider--item-left {
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block
}

.work--lockup .slider--item-right {
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block
}

.work--lockup .slider--item-center {
    position: relative;
    top: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block
}

.work--lockup .slider--item-center a {
    color: #fff
}

.work--lockup .slider--item-center .slider--item-title {
    margin-top: 25px;
    font-size: 16px
}

.work--lockup .slider--item-center .slider--item-description {
    display: block
}

.work--lockup .slider--item-center .slider--item-image {
    width: 300px;
    height: 300px
}

.work--lockup .slider--next,
.work--lockup .slider--prev {
    position: absolute;
    top: 160px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #282828;
    border-radius: 50%;
    cursor: pointer
}

.work--lockup .slider--next svg,
.work--lockup .slider--prev svg {
    width: 20px;
    fill: #fff
}

.work--lockup .slider--next {
    right: 0
}

.work--lockup .slider--prev {
    left: 0
}

@media (max-width: 900px) {
    .work--lockup .slider--item-image {
        width: 120px;
        height: 120px
    }

    .work--lockup .slider--item-center .slider--item-image {
        width: 240px;
        height: 240px
    }

    .work--lockup .slider--next,
    .work--lockup .slider--prev {
        top: 130px
    }
}

@media (max-width: 767px) {
    .work--lockup .slider {
        width: 75%
    }

    .work--lockup .slider--item-image {
        width: 90px;
        height: 90px
    }

    .work--lockup .slider--item-center .slider--item-image {
        width: 190px;
        height: 190px
    }

    .work--lockup .slider--next,
    .work--lockup .slider--prev {
        top: 105px
    }
}

@media (max-width: 600px) {
    .work--lockup .slider {
        width: auto
    }

    .work--lockup .slider--item-left,
    .work--lockup .slider--item-right {
        display: none
    }
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto
}

@media (max-width: 1180px) {
    .about {
        max-width: 100%
    }
}

.contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.contact--lockup {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

@media (max-width: 1180px) {
    .contact--lockup {
        max-width: 90%
    }
}

@media (max-width: 767px) {
    .contact--lockup {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.contact--lockup .modal {
    padding: 45px 45px;
}

.contact--lockup .modal--information p,
.contact--lockup .modal--information a {
    display: block;
    margin: 14px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700
}

.contact--lockup .modal--information p {
    margin-top: 0
}

.contact--lockup .modal--options {
    margin: 0;
    padding: 0;
    list-style: none
}

.contact--lockup .modal--options>li {
    width: 130px;
    margin: 0 auto 25px auto
}

.contact--lockup .modal--options li:nth-child(1) {
    background-color: #1769ff
}

.contact--lockup .modal--options li:nth-child(2) {
    background-color: #ea4c89
}

.contact--lockup .modal--options a {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-decoration: none;
    color: #fff;
    font-weight: 700
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    padding: 20px;
}

.service-box {
    background-color: rgb(38, 42, 43);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s;
}

.service-box:hover {
    background-color: #333;
}

.service-box .icon {
    font-size: 36px;
    margin-bottom: 10px;
}

.service-box h3 {
    margin: 0;
    font-size: 18px;
}

.header--button {
    background-color: #e7ece9;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    margin: 8px;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.header--buttons {
    display: flex;
    align-items: center;
}

.header--buttons button {
    margin-left: 10px;
}

.logo-button {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
}

.logo-button:hover {
    box-shadow: rgba(0, 202, 185, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.header--button:hover {
    box-shadow: rgba(0, 202, 185, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.screen {
    position: relative;
    background: #202020;
    border-radius: 15px;
}


.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4d;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
}

.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}

.screen-header-right {
    display: flex;
}

.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: brown;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: brown;
}

.app-contact {
    margin-top: auto;
    font-size: 10px;
    color: #ffffff;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #9b9595;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: brown;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: orange;
}

@media (max-width: 1024px) {
    .skills-grid {
        max-width: 700px;
    }
  
    .skill img {
      width: 40px; /* Even smaller icon size for very small screens */
      height: auto;
    }
  
    .skill p {
      font-size: 12px; 
    }
  
}


@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}

.skills-section {
    text-align: center;
}

.skills-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ff9800;
    padding-right: 1000px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
#mobileMessage {
    display: none;
}

@media (max-width: 480px) {
    .skills-grid {
    display: none;
      gap: 10px;
    }
  
    .skill img {
      width: 60px;
      height: auto;
    }
  
    .skill p {
      font-size: 12px; 
    }
  
    h2 {
        display: none;
    }
    
    #mobileMessage {
        background-color: black;
        max-width: 90px;
        display: flex;
        justify-content: left;
        align-items:center;
        font-size: 20px;
        color: red;
        height: 45vh;
        border-radius: 10px;
    }
}

.skill {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    font-size: 6px;
}

.skill:hover {
    transform: scale(1.05);
}

.skill img {
    max-width: 60px;
    margin-bottom: 10px;
}

.skill p {
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}

.hover-text {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    position: relative;
    height: 1em;
    width: 8em;
}

.word {
    position: absolute;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.5s;
}

.word.in {
    opacity: 1;
}

.wisteria {
    color: #8e44ad;
}

.belize {
    color: #2980b9;
}

.pomegranate {
    color: #c0392b;
}

.green {
    color: #16a085;
}

.midnight {
    color: #2c3e50;
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
